{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
                <hr>
              </h2>
            </div>
            <p>
             At PetZaa, we believe every animal deserves a chance to live a happy and healthy life. Our mission is to connect loving families with homeless pets in need of care and companionship. We work with shelters, rescue organizations, and volunteers to ensure every adoption is safe, responsible, and filled with compassion. Whether you’re looking for a playful puppy, a gentle kitten, or a loyal companion, we’re here to help you find your perfect match. Together, we can create a world where every pet finds a forever home filled with love and joy.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


{% include 'footer.html' %}
</body>

</html>