{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/add_pet.css' %}">

{% block content %}
<!-- Use full-page wrapper instead of Bootstrap container -->
<div class="form-page">
    <div class="form-wrapper">
        <h2 class="form-heading">{{ pet.name|default:"Add New Pet" }}</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn-save">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
