{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/view_adopters.css' %}">

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Adoption List</h2>

    <table class="table table-bordered table-striped text-center align-middle">
        <thead class="table-header">
            <tr>
                <th> Status </th>
                <th> Pet Name </th>
                <th> Breed Name </th>
                <th> Shelter Name </th>
                <th> Adopter Name </th>
            </tr>
        </thead>
        <tbody>
            {% for request in adoption_requests %}
            <tr>
                <td>{{ request.status }}</td>
                <td>{{ request.pet.name }}</td>
                <td>{{ request.pet.breed }}</td>
                <td>{{ request.pet.shelter.username }}</td> 
                <td>{{ request.adopter.username }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-danger">No adoption requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
