{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/confirm_delete.css' %}">

{% block content %}
<div class="confirm-page">
  <div class="confirm-box">
    <h3 class="confirm-title">Are you sure you want to delete <span>{{ pet.name }}</span>?</h3>
    <form method="POST" action="{% url 'delete_pet' pet.pet_id %}">
      {% csrf_token %}
      <div class="button-group">
        <button type="submit" class="btn-delete">Yes, Delete</button>
        <a href="{% url 'my_pets' %}" class="btn-cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
